@import url("https://fonts.googleapis.com/css?family=Ubuntu Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Source Code Pro");
.modal1 {
  display: none;
  z-index:99999;
  font-family: Roboto;
}
.modal1 h1 {
  font-family: Roboto;
  font-weight: 500;
}
.modal1 {
  height:75%;
  margin:5% auto;
  max-height: 57em;
  max-width:66em;
  width:85%;
}
#enable {
  padding: 7px;
  background-color: #d1d1d1;
  border-radius: 5px;
}
#enable:hover {
  background-color: #bdbdbd;
  cursor: pointer;
}
.dropbtn {
  opacity: 0.6;
}
.modal1 iframe, .modal1 div{
  border:none;
  width:100%;
  height:100%;
  }
.buttonpush {
  padding: 7px;
  background-color: #d3d3d3;
}
.buttonpush:hover {
  background-color: #bdbdbd;
  cursor: pointer;
}
.close{
  background-color:turquoise;
  color:white;
  font-size:24px;
  padding:8px 12px;
  position:absolute;
  right:0;
  text-align:center;
  text-decoration:none;
  top:0;
  z-index: 1;
}

#editor {
  height: 95%;
  width: 100%;
  font-size: 15px;
  font-family: monospace;
  font-weight: 500;
}
#parent {
  display: table;
  width: 100%;
  font-size: 16px;
  font-family: Roboto;
}
#child {
    display: table-cell;
    vertical-align: middle;
}
td {
  padding: 0px;
  vertical-align: top;
  display: inline-block;
}
tr, tbody, table {
  padding: 0px;
}
/* Navbar container */
nav {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown1 container */
.dropdown1 {
  float: left;
  overflow: hidden;
}

/* dropdown1 button */
.dropdown1 .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

/* dropdown1 content (hidden by default) */
.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown1 */
.dropdown1-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown1 links on hover */
.dropdown1-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown1 menu on hover */
.dropdown1:hover .dropdown1-content {
  display: block;
}
nav {
  height: 5%;
  color: white;
  font-family: Consolas;
  background-color: #00bcd4;
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
body, html {
  margin: 0px;
  height: 100%;
  overflow-y:hidden;
}
#editor {
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 0;
    top: 52.4px;
}
iframe {
    position: absolute;
    left: 50%;
    top: 52.4px;
}
#editor, iframe {
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  z-index: 999;
}
body .ace_scrollbar-v {
    overflow-y: hidden;
}

body .ace_scrollbar-h {
    overflow-x: hidden;
}
.modal1overlay {
  z-index:99999999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
  position: absolute;
  display: block;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
.zoomin:hover,.zoomout:hover {
  cursor: pointer;
}
#editor {
  position: fixed;
}
 .modal1 {
  z-index: 999999999;
  position:absolute;
  visibility: hidden;
  background-color: white;
  top:0%;
  left:15%;
  height: auto;
  padding:20px;
  display: block;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
@media (max-width: 900px) {
    #editor {
        right: 0;
        bottom: 50%;
        height: 47%;
        width: 100%;
    }

    iframe {
        left: 0;
        bottom: 0;
        top: unset;
        margin: auto;
        height: 46%;
        width: 100%;
    }
}

.dropbtn:hover {
  opacity: 1;
  transition: all ease 0.5s;
  cursor: pointer;
  border-bottom: 5px solid white;
}
#drop:hover {
  border-bottom: none;
}
.dropbtn:not(hover) {
  transition: all ease 0.5s;
}

/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:200px;
  border:none;
  border-bottom:1px solid #ccc;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#ccc;
  font-size:15px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-5px;
  font-size:12px;
  color:#191919;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:1px;
  width: 0;
  bottom:1px;
  position:absolute;
  background:#191919;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  width: 200px;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  /* width:50%; */
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:0px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#191919; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#191919; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#191919; }
  to 	{ width:0; background:transparent; }
}
